input {
  width: 100%;
  margin: 15px 0 !important;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 3px;
}

/* User card */
.card-wrapper {
  background-color: #fff;
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  position: relative;
  flex: 1;
  box-shadow: 2px 2px 50px 10px rgba(0, 0, 0, 0.05);
}

.card-text {
  flex: 1;
  padding-left: 20px;
}

.card-text p,
.card-text span {
  font-size: 13px;
  letter-spacing: 1px;
}

.card-text p {
  display: inline;
  font-weight: 600;
}

.card-text span {
  color: #43454e;
}

.user-status {
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
}

/* Pagination */
.paginationBttns {
  width: 100% !important;
  margin: 50px 0 !important;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginationBttns li.previous a,
.paginationBttns li.next a {
  background-color: #252e3e;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.15em;
  color: white;
  padding: 15px 35px;
  transition: all 0.3s;
  border-radius: 0;
}

.paginationBttns li.paginationDisabled a:hover {
  background-color: #656565;
  cursor: not-allowed;
}

.paginationBttns a {
  padding: 5px;
  margin: 8px;
  color: white;
  cursor: pointer;
}

.paginationActive {
  border: 1px solid #252e3e;
  padding: 5px 0 !important;
}

/* Filters */
.filters {
  position: sticky;
  top: 20px;
  width: 200px;
  margin: 0 auto;
}

.filters h3 {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  color: #fff !important;
  margin: 30px 0;
}

select {
  width: 100%;
  margin-bottom: 10px !important;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 3px;
}

/* Create Team */
.create-team-btn {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 2px;
  color: #fff;
  font-weight: 500;
}
